[Unit]
	Description=Node.js Application
	After=syslog.target network.target
	[Service]
	Type=simple
	User=root
	WorkingDirectory=/root
	Environment=NODE_ENV=production
	ExecStart=/root/.nvm/versions/node/v16.0.0/bin/node /home/genuser/DEPLOYMENT_NODE_APPLICATION/acousticChartServerDev.js
	Restart=always
	[Install]
	WantedBy=multi-user.target